@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pink: rgb(217, 70, 239);
    --lightPink: rgb(226, 146, 238);
}


/* Scrollbar Styles */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
    width: 5px;
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightPink);
    width: 5px;
    height: 5px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
    width: 5px;
    height: 5px;
}