.success-message {
    position: relative;
    width: min-content;
    height: min-content;
    display: none;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-content: center;
    /* border: 2px solid red; */
}

.success-message-header {
    position: relative;
    font-size: 6vw;
    text-align: center;
    color: white;
    text-shadow: currentColor 0 0 10px;
    text-wrap: nowrap;
}

.success-message-body {
    position: relative;
    text-align: center;
    font-size: 2vw;
    color: #ff00d4;
    text-shadow: currentColor 0 0 10px;
}

.success-message-backdrop {
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}